<div class="container" ng-controller="HomeCtrl">
    <h2>Active Tasks</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="task in tasks" ng-if="task.state == 'active'">
            {{ task.description }}: {{ $index }}
        </li>
    </ul>
    
    <div>
        <form ng-submit="addTask()">
            <div class="form-group">
                <label>Add task:</label>
                <input class="form-control" placeholder="Description goes here" ng-model="task" />
            <br>
                <select class="form-control" ng-model="select">
                    <option ng-repeat="p in priority">{{p}}</option>
                </select>
            <br>
                <button type="submit" class="btn btn-success btn-sm">Add Task</button>
            </div>
            <br>
            <b>Task: </b>{{ task }}
        </form>
        
    <h2>Expired Tasks</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="task in tasks" ng-if="task.state == 'expired'">
                {{ task.description }}
            </li>
        </ul>
        
        <br>
        <pre>{{ tasks | json }}</pre>
    </div>
</div>